**Aim: Generation of "partial" dataset - containing most current (mc) variables used (Chen M et al., 2016 Hepatol + Shah F et al., 2015)- for modeling of liver toxicity (mostDILI)**

As preparation of dataset for modeling purposes, data will be scaled using StandardScaler package within sklearn's pre-processing class.
Same method for pre-processing was used on ToxCast targets and full dataset (MC targets + ToxCast targets) prior to PCA.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#magic command to print all output instead of only last line
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

Read-in mc_var dataset, re-arrange column order. Make a duplicate for re-appending columns as needed after completion of scaling

In [18]:
#Read-in mc_var_labeled
mc_labeled1=pd.read_csv("mc_var_labeled.csv")

    #rearrange column names in mc_labeled such that "classificn" moves to last column
mc_labeled1.columns

mcl_col_order=["chnm", "cmax", "mol_wt", "dailydose", "logP", "reactive_metabolites", "classificn"] #desired column order

set(mc_labeled1.columns) == set(mcl_col_order)#check to see if all column names are retained in "mcl_col_order"


mc_labeled1=mc_labeled1[mcl_col_order]

mc_labeled1.head()

mcl2=mc_labeled1

mcl2.columns

Index(['chnm', 'classificn', 'cmax', 'mol_wt', 'dailydose', 'logP',
       'reactive_metabolites'],
      dtype='object')

True

,chnm,cmax,mol_wt,dailydose,logP,reactive_metabolites,classificn
0,ambrisentan,2.6124,378.42108,7.5,3.78,1,0
1,amrinone,13.7820,187.19795,500.0,-0.46,0,0
2,aztreonam,142.3860,435.43278,4000.0,-1.73,0,0
3,capecitabine,7.9309,359.35008,5600.0,0.40,0,0
4,carbidopa,0.6630,226.22915,70.0,-1.90,0,0

Index(['chnm', 'cmax', 'mol_wt', 'dailydose', 'logP', 'reactive_metabolites',
       'classificn'],
      dtype='object')

In [ ]:
#drop "chnm" and "classificn" from mc_labeled1 prior to scaling

mc_labeled1.drop(["chnm", "classificn"], axis=1, inplace = True)

In [13]:
mc_labeled1.head()

       cmax     mol_wt  dailydose  logP  reactive_metabolites
0    2.6124  378.42108        7.5  3.78                     1
1   13.7820  187.19795      500.0 -0.46                     0
2  142.3860  435.43278     4000.0 -1.73                     0
3    7.9309  359.35008     5600.0  0.40                     0
4    0.6630  226.22915       70.0 -1.90                     0

In [15]:
# Scale the data

from sklearn.preprocessing import StandardScaler
scaler=StandardScaler() #instantiate StandardScaler class
mc_scaled= scaler.fit_transform(mc_labeled1) #fit-transform instantiated class and save to an numpy array
pd_mc_scaled=pd.DataFrame(mc_scaled, columns=mc_labeled1.columns) #saved "scaled" data to a dataframe

pd_mc_scaled.head()

       cmax    mol_wt  dailydose      logP  reactive_metabolites
0 -0.376681  0.234644  -0.649171  0.698114              1.017292
1 -0.258342 -1.106356  -0.076238 -1.204272             -0.983002
2  1.104182  0.634453   3.995364 -1.774091             -0.983002
3 -0.320333  0.100904   5.856668 -0.818411             -0.983002
4 -0.397334 -0.832640  -0.576464 -1.850365             -0.983002

In [ ]:
frames=[mcl2[["chnm", "classificn"]],pd_mc_scaled]

mc_scaled_data=pd.concat(frames, axis=1)

mc_scaled_data.head()

partial_data_mc_scaled=mc_scaled_data[mcl_col_order]

partial_data_mc_scaled.head()

In [25]:
partial_data_mc_scaled.to_csv('mc_scaled_labeled.csv', index=False)